################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CepApp/.vs/CepApp/v15/Server/sqlite3/db.lock
